.weather {
	padding: 50px 0;
}
.weather__title {
	min-width: 450px;
}
.form {
	display: flex;
	justify-content: end;
}
.form__input {
	width: 200px;
}
.form__submit-btn {
	align-self: flex-start;
	margin: 0 0 0 20px;
}
.data__weather {
	padding: 25px 0;
}
.data__parameters {
	padding: 25px 0;
}
.data__coords {
	padding: 25px 0;
}
agm-map {
	height: 400px;
}