<p>weather works!</p>
<div>
	<h1>Current weather data</h1>
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<label for="cities">Cities</label>
		<select formControlName="cities" id="cities">
			<option *ngFor="let city of cities; let i = index">
				{{cities[i].name}}
			</option>
		</select>
		<button type="submit" class="btn btn-primary">Check the weather</button>
	</form>

	<div *ngIf="data$ | async as weather">
		<p>temperature: {{ weather.temp - 273.15 | number:'1.0-0'}} C</p>
		<p>weather: {{ weather.weatherMain }}</p>
		<p>weather-description: {{ weather.weatherDescription }}</p>
		<p>temp-average: {{ ((weather.tempMax - 273.15) - (weather.tempMin - 273.15)) | number:'1.0-0' }} C</p>
		<p>wind-speed: {{ weather.windSpeed }} m/s</p>
		<p>pressure: {{ weather.pressure }} mb</p>
		<p>humidity: {{ weather.humidity }} %</p>
		<p>wind-deg: {{ weather.windDeg }} </p>
		<p>clouds: {{ weather.clouds }} %</p>
		<p>sunrise: {{ weather.sunrise *1000 | date:'medium' }} </p>
		<p>sunset: {{ weather.sunset *1000 | date:'medium'}} </p>
	</div>

</div>