<div class="container">
	<div class="weather">
		<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
			<input formControlName="location" type="text" id="location" placeholder="Type location here" class="form-control form__input">
			<button type="submit" class="btn btn-info form__submit-btn">Check</button>
		</form>
		<h3 class="weather__title">{{location}} </h3>
		<div *ngIf="data$ | async as weather" class="data__weather">
			<img class="weather__img" src="http://openweathermap.org/img/wn/{{ weather.weatherIcon }}@2x.png">
			<p class="weather__text"><fa-icon [icon]="faTemperature"></fa-icon>&nbsp; <span class="hidden">temperature: </span>{{ weather.temp - 273.15 | number:'1.0-0'}} C</p>
			<p class="weather__text">{{ weather.weatherMain }}</p>
			<p class="weather__text">{{ weather.weatherDescription }}</p>
		</div>
	</div>
	<div *ngIf="data$ | async as weather" class="data__parameters">
		<div class="row">
			<div class="col">
				<p><fa-icon [icon]="faPressure"></fa-icon>&nbsp; <span class="hidden">pressure: </span> {{ weather.pressure }} mb</p>
				<p><fa-icon [icon]="faHumidity"></fa-icon>&nbsp; <span class="hidden">humidity: </span> {{ weather.humidity }} %</p>
				<p><fa-icon [icon]="faTemperature"></fa-icon>&nbsp; <span class="hidden">temp-average: </span> {{ ((weather.tempMax - 273.15) - (weather.tempMin - 273.15)) | number:'1.0-0' }} C</p>
			</div>
			<div class="col">
				<p><fa-icon [icon]="faSpeed"></fa-icon>&nbsp; <span class="hidden">wind-speed: </span> {{ weather.windSpeed }} m/s</p>
				<p><fa-icon [icon]="faDegrees"></fa-icon>&nbsp; <span class="hidden">wind-deg: </span> {{ weather.windDeg }}</p>
			</div>
			<div class="col">
				<p><fa-icon [icon]="faCloud"></fa-icon>&nbsp; <span class="hidden">clouds: </span> {{ weather.clouds }} %</p>
				<p><fa-icon [icon]="faSun"></fa-icon>&nbsp; <span class="hidden">sunrise: </span> {{ weather.sunrise *1000 | date:'medium' }}</p>
				<p><fa-icon [icon]="faSun"></fa-icon>&nbsp; <span class="hidden">sunset: </span> {{ weather.sunset *1000 | date:'medium' }}</p>
			</div>
		</div>
	</div>
</div>
<div class="map">
	<agm-map *ngIf="data$ | async as coord" [latitude]='coord.latitude' [longitude]='coord.longitude'
		[mapTypeId]='mapType'>
		<agm-marker *ngIf="data$ | async as coord" [latitude]='coord.latitude' [longitude]='coord.longitude' [label]=''>
		</agm-marker>
	</agm-map>
</div>